<div class="jumbotron"><h1>Burgers!</h1></div>

<main>
<div class="container">
  <div class="row">
    <div class="col sm 6">
      <h2>Eat the burgers!</h2>
        <table>
            {{#each burgers}}
              {{#unless devoured}}
            {{>burgers/burger-block}}
              {{/unless}}
            {{/each}}
      </table>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col sm 6">
      <h2>Burgers that have been eaten!</h2>

        {{#each burgers}}
          {{#if devoured}}
            <div>
              {{id}}. {{burger_name}}
            </div>
          {{/if}}
        {{/each}}
    </div>
  </div>
</div>
</main>

<div class="container">
<h2>Add a Burger!</h2>
<form class="create-form">
  <div class="form-group">
    <label for="name"></label>
    <textarea id="name" name="burger_name" rows="2" cols="10" placeholder="Pick a burger!"></textarea>
  </div>
</form>
 <button type="submit" class="add">Add Burger</button>
</form>
</div>
