<h1>Burgers!</h1>

<main>
<div class="container">
  <div class="row">
    <div class="col sm 6">
      <h2>Eat the burgers!</h2>

      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
          <div>
            <form action"/burgers/{{this.id}}?method=PUT" method="POST">
            <button type="submit" class="devoured">{{this.burger_name}}</button>
            </form>
          </div>
          {{/unless}}
        {{/each}}
      </ul>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col sm 6">
      <h2>Burgers that have been eaten!</h2>

      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="devoured">
              {{this.burger_name}}
            </div>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
</main>

<div class="container">
<h2>Add a Burger!</h2>
<form action="/burgers" method="POST">
  <input type="text" id="name" name="burger_name">
 <button type="submit" class="add">Add Burger</button>
</form>
</div>
